<div class="sidebar-card">
    <h3><i class="fas fa-info-circle"></i> Curiosities</h3>
    <p>{{ algo.curiosities }}</p>
    <div class="property-card" style="margin-top: 15px; text-align: center;">

        <h3>Creation Year</h3>
        <p>{{ algo.year }}</p>
    </div>
    <div class="property-card" style="margin-top: 15px; text-align: center;">

        <h3>Author</h3>
        <p>{{ algo.author }}</p>
    </div>
</div>